@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.header {
  width: 300px;
  height: 66px;
  background-image: linear-gradient(263deg, #498ac3, #8a99f9);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.game-container {
  width: 340px;
  height: 600px;
  background-color: #f5f6f9;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 25px;
}

.user {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}

.balance {
  color: #ffffff;
  font-size: 14px;
}

img {
  width: 26px;
  height: 28px;
  color: #fff;
}

.card {
  width: 129px;
  height: 140px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card img {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #6e7f8d;
  text-transform: uppercase;
  margin: 0;
}

input {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  padding: 0 10px;
}

.play {
  width: 97px;
  height: 40px;
  background-image: linear-gradient(256deg, #498ac3, #8a99f9);
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  cursor: pointer;
}

.container-play {
  margin-top: 20px;
}

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
}

.game-result .card {
  width: 160px;
  height: 160px;
}

.win {
  background-image: linear-gradient(278deg, #62d2cb, #03a49b);
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(278deg, #62d2cb, #03a49b);
}

.lose {
  width: 100px;
  height: 29px;
  background-image: linear-gradient(254deg, #dd8080, #ba1f2d);
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(254deg, #dd8080, #ba1f2d);
}

.play-again {
  margin-top: 20px;
  width: 260px;
  height: 40px;
  border-radius: 20px;
  background-image: linear-gradient(265deg, #498ac3, #8a99f9);
  color: #fff;
}
